@font-face {
  font-family: 'MainFont';
  src: local('MainFont'), url(./fonts/vetka.otf) format('opentype');
}

.header {
  justify-content: space-between;
  background-color: rgba(62, 140, 42, 0.74);
  padding: 6px;
}

.root-container {
  flex-direction: column;
}

.page-container {
  flex: 1;
}